<!DOCTYPE html>
<html>
<head>
    <title> @ViewData["Name"]</title>
</head>
<body>
    <h2>@ViewData["Greeting"]</h2>
    <div class="time">
        The time is @ViewData["Time"]
    </div>
    <div class="date">
        The date is @ViewData["Date"]
    </div>
    <div class="remainingtime">
        There are @ViewData["Days Left"] days left in @ViewData["Year"]
    </div>

    @*<footer>
      
        <a id="outerBorder" href="~/Home/Items/10">Go To Page 2...</a>
        <a id="simplebutton" href="~/Person/Index/">Go To Person Page</a>
    </footer>*@

</body>
</html>
